:root {
    --background-color: #FFF;
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --CLOUD: #F4F4FD;
    --SLATE: #434455;

    /* Timing */
    --duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


body{
    font-family:'Roboto', sans-serif;
    color: var(--SLATE) ;
   background-color: #FFFFFF;
}

.main {
    flex-grow: 1;
}



a:hover,
a:focus{
    color: #4D5AE5;
}

.li a:hover{
    color: #404BBF;
}

.list{
    list-style: none;
}

.container{
width: 1158px;
    margin-left: auto;
    margin-right: auto;
  padding: 0 15px;
}
.link {
    text-decoration: none;
}
.header-list-link:hover {
    color: #404bbf;
}

.header-list-link:focus {
    color: #404bbf;
}
/* HW3 */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* Reset end */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

*::before,
*::after {
    box-sizing: border-box;
}

/* HEADER*/

.header {
border-bottom: 1px solid #e7e9fc;

}
.header-container {
border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.header-nav {
display: flex;
justify-content: space-between;
align-items: center;
gap: 40px;
box-sizing: border-box;
}



.header-logo {
    font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
padding: 24px 0;
margin-right: 76px;

}
.header-span{
    color: var(--NAVY-BLUE);
       
}

.header-menu-list {
    color: var(--NAVY-BLUE);
    font-weight: 500;
     font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
display: flex;
gap: 40px;

}

.header-list {}


.header-list-link {
    color: var(--NAVY-BLUE);
    font-size: 16px; 
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
padding-top: 24px;
padding-bottom: 24px;
}
.header-list-link:hover
.header-list-link:focus {
    color: #404bbf;
}

.header-address {
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    display: flex;
   
}

.header-address-menu {
display: flex;
gap: 40px;
}

.header-address-list{
display: inline-flex;
}

.list {
     list-style: none;
     margin: 0;
     padding: 0;
}

.contact{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--SLATE);
    padding: 24px 0;
    display: block;
   
}
.contact:hover,
.contact:focus {
    color: #404bbf;
    cursor: pointer;
}

.current {
    position: relative;
    color: #404BBF;
}

.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

/*--HERO SECTION--*/
.hero {
    background-color: var(--NAVY-BLUE);
    padding-top: 188px;
    padding-bottom: 188px;
    display: flex;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-weight: 700;
    max-width: 496px;
margin: 0 auto;
margin-bottom: 48px;
}

.hero-button {
    background-color: var(--IRIS);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
     line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;

    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus{
background-color: #404BBF;
}

.hero-main-container{

}


/*< !-- Section 2-->*/

.benefits {
    padding: 120px 0;
padding-bottom: 120px;
    
    }


.benefits-socials {
  justify-content: center;
    margin: 0 auto;
    display: flex;
    gap: 24px;

}

.benefits-list {

width: calc((100% - 72px) / 4);
}
.benefits-container{

}
.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
    margin-bottom: 8px;

}

.benefits-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    color: var(--SLATE);
}

/*< !-- Section 3-->*/

.intent {
    padding-bottom: 120px;
   
}

.intent-container{
}
.intent-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--NAVY-BLUE);
    margin-bottom: 72px;
}

.intent-socials {
    display: flex;
    gap: 24px;
}

.intent-list {
    width: calc((100% - 48px) / 3);
}

/*< !-- Section 4-->*/
.team {

background-color: #F4F4FD;
padding: 120px 0;
}

.team-container {
    background-color: var(--CLOUD);
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE);
    margin-bottom: 72px;
    text-align: center;
    text-transform: capitalize;
}
.team-social{
display: flex;
gap: 24px;
}

.team-list {
    background-color: #FFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-card-container{

}

.team-name-container{
    padding: 32px 16px;
}


.team-title-name{
text-align: center;
margin-bottom: 8px;

}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE);
    text-align: center;
}

.team-list-icons{
    display: flex;
    gap: 24px;
}

.team-icons{
width: 40px;
height: 40px;
}
.team-icons-link{
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
}

.team-icons-link:hover,
.team-icons-link:focus{
 background-color: #404BBF;
}

.svg-team{
    fill: var(--CLOUD);
}
/*< !-- Footer-->*/

.footer {
background-color: var(--NAVY-BLUE) ;
padding: 100px 0;
}
.footer-text-container{
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
        
    color: var(--IRIS);
    text-decoration: none;
 
     
}

.footer-text {
    line-height: 1.5;
    color: var(--CLOUD) ;
    letter-spacing: 0.02em;
    width: 264px;
}
.footer-span {
    color: var(--CLOUD);
}
/* PORTFOLIO*/

.portfolio-section{
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-button-list{
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.social {}

.list {}

.navigation-button {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--IRIS);
    background-color: var(--CLOUD);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.navigation-button:hover,
.navigation-button:focus{
    background-color: #404BBF;
    color: var(--background-color);
    border: 1px solid transparent;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation-socials-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.navigation-list {
    width: calc((100% - 48px) / 3);
}

.portfolio-list-item{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;


}

.link {}

.navigation-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
letter-spacing: 0.02em;
color: var(--NAVY-BLUE);
margin-bottom: 8px;
}

.potfolio-text{
line-height: 1.5;
letter-spacing: 0.02em;
font-size: 16px;
font-weight: 400;
color: var(--SLATE);
}

